.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 3px solid rgb(63, 15, 56);
  }
  button {
    background-color: rgb(63, 15, 56);
    color: white;
    border-radius: 0% 15px 15px 0%;
    cursor: pointer;
  }
  input {
    border-radius: 15px 0% 0% 15px;
  }
}
